name: Formatting

on:
  pull_request:
  push:
    branches:
      - main
      - ci/formatting

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
          override: true

      - name: Check formatting
        run: cargo fmt --all -- --check

